@charset "UTF-8";


.container {
  grid-template-columns: 5em 1fr 10em;
  grid-template-rows: 2em 4em 1fr 5em;
  color: #ecf0f1;
  display: grid;
}
.container > * {
  padding: 10px;
}
.header {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  background-color: #2ecc71;
      position: sticky;
      top: 0;
  display: flex;
  justify-content: space-between;
}
input[type="checkbox"] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.toggleIcon {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    width: 22px;
    background-color: #fff;
}
.diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
}
.horizontal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-3 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .toggleIcon > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .toggleIcon > .horizontal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .toggleIcon > .diagonal.part-3 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
.header > ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  background-color: #3498db;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  );
  column-gap: 10px;
  row-gap: 10px;
}
.main > div {
  background-color: #2ecc71;
  padding: 10px;
  height: 100px;
}
.aside {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  background-color: #f1c40f;
  transform: translateX(-180px);
  transition: transform 250ms ease-in-out;
  background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%);
}

@media screen and (min-width: 35em) {
  .main {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .aside {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    transform: none;
  }
}
input[type=checkbox]:checked ~ .aside {
    transform: translateX(0);
}
.nav {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  background-color: #e74c3c;
}
.footer {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  background-color: #9b59b6;
}
