.burger {
/*   grid-column: 1 / 1;
  grid-row: 4 / 5; */
  position: fixed;
  bottom: 5%;
  left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  /* background: #0D0C1D; */
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 9;
}  
  
.burger > span {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}
