.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #EFFFFA;
  /* height: 100%; */
  text-align: left;
  padding: 2rem;
  /* position: absolute; */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transition: transform 0.1s ease-in-out;
  z-index: 8;
  @media (max-width: 576px) {
      width: 100%;
  }
}

.sidebar a {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: bold;
  letter-spacing: 0.5rem;
  color: #0D0C1D;
  text-decoration: none;
  transition: color 0.1s linear;
  @media (max-width: 576px) {
    font-size: 1.5rem;
    text-align: center;
  }
}
.sidebar a:hover {
  color: #343078;
}