.react-tabs__tab-panel--selected {
    animation-name: fadein;
    /* animation-name: slidein; */
    animation-duration: 500ms;
    animation-timing-function: linear;
}

@Keyframes
fadein {
    from { opacity: 0; } to { opacity: 1; }
}

@keyframes
slidein {
    from {
        margin-left: 100%;
        width: 300%; 
    }
    
    to {
        margin-left: 0%;
        width: 100%;
    }    
}