.App {
  text-align: center;
}

.container {
/*  grid-template-columns: 5em 1fr 10em; */
/*   grid-template-columns: 1fr;
  grid-template-rows: 2em 4em 1fr 5em; */
  color: #ecf0f1;
  display: grid;
  grid-template:
    "logo    logo"       2em 
    "header    header"     4em
    "item-list item-detail" auto 
    "footer    footer"     5em / 1fr 1fr;
  min-height: 100vh;
  position: relative;
}
.container > * {
  padding: 10px;
}
.logo {
  grid-area: logo;
  background-color: #3498db;
}
.header {
  grid-area: header;
  background-color: #2ecc71;
      position: sticky;
      top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 3;
}

.header > ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main {
  background-color: #3498db;
  position: relative;
}
.item-list {
  grid-area: item-list;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  );
  column-gap: 10px;
  row-gap: 10px;  
}

.item-list > div {
  background-color: #2ecc71;
  padding: 10px;
  height: 100px;
}

/* @media screen and (min-width: 35em) {
  .main {
   grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
} */

.footer {
  grid-area: footer;
  /* grid-row: 4 / 5; */
  background-color: #9b59b6;
}
